<div class="appointment-review form-field">
    <h3 class="review-title">Resumo da Consulta</h3>
    <div class="review-grid">
        <div class="review-item">
            <span class="value">Paciente: {{ appointmentReview().patientName }}</span>
            <span class="sub">CPF: {{ appointmentReview().patientCPF }}</span>
        </div>

        <div class="review-item">
            <span class="value">Profissional: {{ appointmentReview().professionalName }}</span>
            <span class="sub">Especialidade: {{ appointmentReview().professionalSpecialty }}</span>
        </div>

        <div class="review-item">
            <span class="value">Data: {{ appointmentReview().date }}</span>
        </div>

        <div class="review-item">
            <span class="value">Horário: {{ appointmentReview().time }}</span>
        </div>
        <div class="review-notes">
            <span class="value">Notas: {{ appointmentReview().notes }}</span>
        </div>
    </div>
</div>