<form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <app-logo class="md-logo blue"></app-logo>
    <h1 class="title">Sign Up</h1>
    <div>
        <mat-form-field class="form-field">
            <mat-label>Usuário</mat-label>
            <input matInput formControlName="username" placeholder="Digite seu usuário...">
        </mat-form-field>
    
        <mat-form-field class="form-field">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" placeholder="Digite sua senha..." type="password">
        </mat-form-field>

        <button mat-flat-button type="submit" class="btn-submit" [disabled]="loginForm.invalid">
            Entrar
        </button>
    </div>
</form>