.xs-logo {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 1rem;
}

.sm-logo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1rem;
}

.md-logo {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
}

.lg-logo {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}

.blue {
    fill: #1e40af;
}

.white {
    fill: #f5f5f5;
}