.sm-logo {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
}

.md-logo {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
}

.lg-logo {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}