<h2 mat-dialog-title>Confirmar Agendamento</h2>
<mat-dialog-content>
    <div class="review-item">
        <p class="info">
            Paciente: 
            <span class="value"> {{ appointmentReviewData.patientName }} </span>
        </p>
        <p class="sub">
            CPF: {{ appointmentReviewData.patientCPF }}
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="review-item">
        <p class="info">
            Profissional: 
            <span class="value"> {{ appointmentReviewData.professionalName }} </span>
        </p>
        <p class="sub">
            Especialidade: {{ appointmentReviewData.professionalSpecialty }}
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="review-item">
        <p class="info">
            Data: 
            <span class="value-default-color"> {{ appointmentReviewData.date }} </span>
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="review-item">
        <p class="info">
            Horário: 
            <span class="value-default-color"> {{ appointmentReviewData.time }} </span>
        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="review-actions">
    <button class="cancel-btn" mat-button (click)="cancel()">Voltar</button>
    <button class="confirm-btn" mat-button (click)="confirm()" cdkFocusInitial>Agendar</button>
  </div>
</mat-dialog-actions>