@if(isLoading) {
    <mat-spinner class="spinner" diameter="20"></mat-spinner>
} @else {
    <form [formGroup]="appointmentForm" class="appointment-form" (ngSubmit)="openDialog()">
        <fieldset>
            <legend>Dados da Consulta</legend>
            <div class="inputs">
                <!-- Patient -->
                <mat-form-field class="form-field">
                    <mat-label>Buscar paciente</mat-label>
                    <input 
                        matInput 
                        formControlName="patient" 
                        [matAutocomplete]="patientAuto"
                        placeholder="Digite o Nome ou CPF do paciente...">
                    <mat-autocomplete
                        #patientAuto="matAutocomplete"
                        (optionSelected)="selectPatient($event.option.value)"
                        [displayWith]="displayInputName">
                        @for(patient of patients$ | async; track patient.id) {
                            <mat-option [value]="patient">
                                {{ patient.name }} - {{ patient.cpf }}
                            </mat-option>
                        }
                    </mat-autocomplete>
                    <mat-error *ngIf="formControls.patient.errors?.['required']">
                        O campo é obrigatório.
                    </mat-error>  
                    <mat-error *ngIf="formControls.patient.errors?.['notFound']">
                        Paciente não encontrado.
                    </mat-error>  
                </mat-form-field>
                <!-- Professional -->
                <mat-form-field class="form-field">
                    <mat-label>Buscar profissional</mat-label>
                    <input 
                        matInput 
                        formControlName="professional" 
                        [matAutocomplete]="professionalAuto"
                        placeholder="Digite o Nome ou CPF do profissional...">
                    <mat-autocomplete
                        #professionalAuto="matAutocomplete"
                        (optionSelected)="selectProfessional($event.option.value)"
                        [displayWith]="displayInputName">
                        @for(professional of professionals$ | async; track professional.id) {
                            <mat-option [value]="professional">
                                {{ professional.name }} - {{ professional.cpf }}
                            </mat-option>
                        }
                    </mat-autocomplete>
                    <mat-error *ngIf="formControls.professional.errors?.['required']">
                        O campo é obrigatório.
                    </mat-error>  
                    <mat-error *ngIf="formControls.professional.errors?.['notFound']">
                        Profissional não encontrado.
                    </mat-error>  
                </mat-form-field>
                <!-- Appointment Date -->
                <mat-form-field class="form-field">
                    <mat-label>Data da consulta</mat-label>
                    <input matInput formControlName="date" type="date">
                    <mat-error *ngIf="formControls.date.errors?.['required']">
                        O campo data da consulta é obrigatório.
                    </mat-error>  
                    <mat-error *ngIf="formControls.date.errors?.['maxlength']">
                        A data deve ter no máximo 8 caracteres.
                    </mat-error>  
                </mat-form-field>
                <!-- Appointment Hour -->
                <mat-form-field class="form-field">
                    <mat-label>Hora da consulta</mat-label>
                    <mat-select formControlName="hour">
                        @for(time of appointmentTimeOptions; track time.value) {
                            <mat-option [value]="time.value" [disabled]="time.disabled">
                                {{ time.label }}
                            </mat-option>
                        }
                    </mat-select>
                    <mat-error *ngIf="formControls.hour.errors?.['required']">
                        O campo hora da consulta é obrigatório.
                    </mat-error> 
                </mat-form-field>
                <!-- Notes -->
                <mat-form-field class="form-field">
                    <mat-label>Notas</mat-label>
                    <textarea matInput formControlName="notes" placeholder="Insira aqui quaisquer observações adicionais..."></textarea>
                    <mat-error *ngIf="formControls.notes.errors?.['maxlength']">
                        As notas devem ter no máximo 500 caracteres.
                    </mat-error>  
                </mat-form-field>
            </div>
        </fieldset>
        <button mat-flat-button type="submit" class="btn-submit" [disabled]="appointmentForm.invalid">
            Agendar Consulta
        </button>
    </form>
}