:host {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        flex-direction: row;
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 5rem 1rem 1rem 1rem;
        h1 {
            font-size: var(--text-3xl);
            color: var(--text-primary);
        }

        .demo-info {
            display: flex;
            flex-direction: column;
            font-size: var(--text-xs);
            color: var(--info);
            text-align: center;
            .link {
                text-decoration: underline;
            }
        }

        @media (min-width: 1024px) {
            padding: 1rem 1rem 1rem 19rem;
        }
    }
}