:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    min-height: 100%;
    width: 100%;
    padding: 5rem 0;
    #medical-logo {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }
    .title {
        font-size: var(--text-3xl);
        text-align: center;
        color: var(--text-primary);
    }
    .demo-info {
        display: flex;
        flex-direction: column;
        font-size: var(--text-xs);
        color: var(--info);
        text-align: center;
        .link {
            text-decoration: underline;
        }
    }
}