@if(isLoading) {
    <mat-spinner class="spinner" diameter="20"></mat-spinner>
} @else {
    <form [formGroup]="appointmentForm" class="appointment-form" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Dados Pessoais</legend>
            <div class="inputs">
                <!-- Patient -->
                <mat-form-field class="form-field">
                    <mat-label>Buscar paciente</mat-label>
                    <input matInput formControlName="patientId" placeholder="Digite o Nome ou CPF do paciente...">
                    <mat-error *ngIf="formControls.patientId.errors?.['required']">
                        O campo é obrigatório.
                    </mat-error>  
                </mat-form-field>
                <!-- Professional -->
                <mat-form-field class="form-field">
                    <mat-label>Buscar profissional</mat-label>
                    <input matInput formControlName="professionalId" placeholder="Digite o Nome ou CPF do profissional...">
                    <mat-error *ngIf="formControls.professionalId.errors?.['required']">
                        O campo é obrigatório.
                    </mat-error>  
                </mat-form-field>
                <!-- Appointment Date -->
                <mat-form-field class="form-field">
                    <mat-label>Data da consulta</mat-label>
                    <input matInput formControlName="date" type="text" placeholder="DD/MM/AAAA" mask="00/00/0000" [dropSpecialCharacters]="false">
                    <mat-error *ngIf="formControls.date.errors?.['required']">
                        O campo data da consulta é obrigatório.
                    </mat-error>  
                    <mat-error *ngIf="formControls.date.errors?.['maxlength']">
                        A data deve ter no máximo 8 caracteres.
                    </mat-error>  
                </mat-form-field>
                <!-- Appointment Hour -->
                <mat-form-field class="form-field">
                    <mat-label>Hora da consulta</mat-label>
                    <mat-select formControlName="hour">
                        @for(time of appointmentTimeOptions; track time.value) {
                            <mat-option [value]="time.value" [disabled]="false">
                                {{ time.label }}
                            </mat-option>
                        }
                    </mat-select>
                    <mat-error *ngIf="formControls.hour.errors?.['required']">
                        O campo hora da consulta é obrigatório.
                    </mat-error> 
                </mat-form-field>
                <!-- Notes -->
                <mat-form-field class="form-field">
                    <mat-label>Notas</mat-label>
                    <textarea matInput formControlName="notes" placeholder="Insira aqui quaisquer observações adicionais..."></textarea>
                    <mat-error *ngIf="formControls.notes.errors?.['maxlength']">
                        As notas devem ter no máximo 500 caracteres.
                    </mat-error>  
                </mat-form-field>
            </div>
        </fieldset>
        <button mat-flat-button type="submit" class="btn-submit" >
            Agendar Consulta
        </button>
    </form>
}