<header id="navbar">
    <app-logo class="sm-logo white"></app-logo>
    @if(isMenu) {
        <mat-icon 
            class="close-btn" 
            aria-hidden="false" 
            aria-label="Fechar menu" 
            fontIcon="close" 
            (click)="onChangeMenuState()">
        </mat-icon>
    }
    @else {
        <mat-icon 
            class="menu-btn" 
            aria-hidden="false" 
            aria-label="Abrir menu" 
            fontIcon="menu" 
            (click)="onChangeMenuState()">
        </mat-icon>
    }
    <nav class="menu" [@openClose]="isMenu ? 'open' : 'close'">
        <ul class="menu-list">
            @for(item of menuItems; track item) {
                <li class="menu-item">
                    <a class="link" [routerLink]="item.route">
                        {{item.label}}
                    </a>
                </li>
            }
        </ul>
    </nav>
</header>